<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.findclass.ajvm.findclassapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AccountActivities.SignUpActivity" />
        <activity android:name=".AccountActivities.SignUpStep2Activity" />
        <activity android:name=".AccountActivities.UpdateDataActivity" />
        <activity android:name=".AccountActivities.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menuActivities.MenuProfessorActivity"
            android:label="@string/title_activity_menu_professor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menuActivities.MenuAlunoActivity"
            android:label="@string/title_activity_menu_aluno"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SubjectActivities.MySubjectsActivity" />
        <activity android:name=".SubjectActivities.MySubjectInfoActivity" />
        <activity android:name=".SubjectActivities.AddSubjectActivity" />
    </application>

</manifest>